/* .body {
  font-family: inter !important;
  letter-spacing: 0;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
} */

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.language-selector {
  /* margin: -40px auto 0;  */
  padding: 0 130px 80px;
  font: 12px inter;
  color: cyan;
}

.CAST-USA-title {
  background: url('/images/logo.png') no-repeat 120px / 400px;
  line-height: 80px;
  padding-left: 400px;
  font-size: 2rem;
}

/* Box styles for auto-animate sections */
.flex-container-left > div {
    width: 160px;
    height: 180px;
    border-radius: 8px;
    padding: 10px 20px;
}

.box-container {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
}

/* Animated box styles */
.animated-box-1 {
  width: 200px;
  height: 200px;
  background-color: cyan;
  border-radius: 100px;
  position: relative;
  left: 194px;
  z-index: 1;
}

.animated-box-2 {
  width: 150px;
  height: 150px;
  background-color: magenta;
  border-radius: 75px;
  z-index: 2;
}

.animated-box-3 {
  width: 80px;
  height: 80px;
  background-color: yellow;
  border-radius: 40px;
  position: relative;
  right: 134px;
  z-index: 3;
}

/* Text styles */
.title-text {
  font-size: 2rem;
}


/* Flex container with text alignment */
.flex-container-left {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: left;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
    font-size: 14px;
}

.down-arrow {
  padding-top: 20px;
  width: 60px;
  background: rgba(255, 255, 255, 0.1);
}

/* .down-arrow:hover {
  transform: rotateX(0deg) rotateY(0deg) translateZ(0px);
  transform-style: preserve-3d;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  border: 2px solid white;
} */

.congressional-award-logo {
  position: absolute;
  right: 612px;
  width: 100px;
  z-index: 4;
}